.header {
    margin: 0 0 2rem;
}

.header a:hover {
    color: white;
    text-decoration: none;
}

.header h3 {
    margin: 0;
}

.header h3 a {
    color: white;
}

.header h3 a:hover {
    color: #00bc8c;
    text-decoration: none;
}

.header .d-flex {
    margin: auto 0 .15rem auto;
    padding: 0;
    list-style: none;
}

.header .d-flex li {
    margin: 0 0 0 .75rem;
}

.header .d-flex li:first-child {
    margin: 0;
}

.header button {
    margin: 0 0 0 40px;
    cursor: pointer;
}

.info-box .list-group .list-group-item {
    padding: 0.5rem;
}
