.header {
    margin: 0 0 2rem;
}

.header a:hover {
    color: white;
    text-decoration: none;
}

.header h3 {
    margin: 0;
}

.header h3 a {
    color: white;
}

.header h3 a:hover {
    color: #00bc8c;
    text-decoration: none;
}

.header .d-flex {
    margin: auto 0 .15rem auto;
    padding: 0;
    list-style: none;
}

.header .d-flex li {
    margin: 0 0 0 .75rem;
}

.header .d-flex li:first-child {
    margin: 0;
}

.info-box {
    padding: 0 0 30px 15px;
}

.info-box .list-group .list-group-item {
    padding: 0.5rem;
}

.info-box__col1 {
    flex-basis: 30%;
    min-width: 30%;
}

.info-box__col2 {
    flex-basis: 70%;
    min-width: 70%;
}
