.Person {
  width: 60%;
  margin: 16px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
  position: relative;
}

.Person .btnDelete {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
  opacity: 0.2;
}

.Person .btnDelete:hover {
  opacity: 1;
}
