.coins-list {
    margin: 0 -15px;
    padding: 0;
    list-style: none;
}
.coins-list li {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
}
.coins-list a {
    display: block;
    border: 1px solid #eee;
    margin: 0 15px 15px;
}
.coins-list__image {
    border-bottom: #eee;
    padding: 10px;
}
.coins-list__image img {
    display: block;
    width: 100% !important;
    height: auto !important;
}