.list-group.todo-list .todo-list-item {
  display: flex;
  align-items: center;
}

.list-group.todo-list .todo-list-item-label {
  width: 100%;
  padding: 5px 0 5px 0.75rem;
  cursor: pointer;
}

.list-group.todo-list .btn {
  padding-left: 0;
  padding-right: 0;
  width: 31px;
}

.list-group.todo-list .btn + .btn {
  margin-left: 5px;
}

.todo-list-item.done .todo-list-item-label {
  text-decoration: line-through;
}

.todo-list-item.important .todo-list-item-label {
  font-weight: bold;
  color: steelblue;
}
